
<h2 class="texte">le titree  </h2> <br>
<div class ="container1">
    <div class="com">
        <u><b> nb commentaires</b></u> <u><b> ville, pays</b></u>
    </div>
    <div class="fav">
        <img id="coeur" src="{{ asset('assets/heart.webp')}}">
        <p> Enregistrer </p>
    </div>
</div>

<div class="img-container">
    <div class="containerRow">

        <div class="photo1">
            <img width="600px" height="400px" src="{{ asset('assets/villa.webp')}}">
        </div>
        <div class="photo1 containerCal">
            <div class="containerRow">
                <img width="300px" height="200px" src="{{ asset('assets/villa2.webp')}}"">
                <img width="300px" height="200px" src="{{ asset('assets/villa3.webp')}}">
            </div>
            <div class="containerRow">
                <img width="300px" height="200px" src="{{ asset('assets/villa4.webp')}}">
                <img width="300px" height="200px" src="{{ asset('assets/villa5.webp')}}">
            </div>
        </div>
    </div>

    <!--<button id="open-modal afficher">afficher toutes les images </button>-->

    <!--<div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close"><i class="fa-solid fa-xmark fa-xs"></i></span>

            <div>
                content

            </div>
        </div>
    </div>-->

</div>
