{% extends 'base.html.twig' %}


{% block title %}  {% endblock %}

{% block stylesheets %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href ="{{ asset('style/dropdown.css') }}">
    <link rel="stylesheet" href ="{{ asset('style/reservation.css') }}">
{% endblock%}

{% block body %}

    <div class="BodyPad">

        <div class="corps">
            <h2 class="titre"><b>{{ logement.titre }}</b>  </h2> <br>

            <div class="com">
                <u><b> {{ nbCommentaire}} commentaires</b></u> <u><b style="margin-left: 1.5cm">{{ ville}},{{ pays}} </b></u>
            </div>
            <!--  <div class="fav">
                  <img id="coeur" src="../assets/heart.svg">
                  <p> Enregistrer </p>
              </div>-->





            <div class="img-container">
                <div class="containerRow" style="margin: 0">
                    {% for key, image in images|slice(0, 5) %}
                        {% if key == 0 %}
                            <div class="photo1">
                                <img class="ph1" width="600px" height="400px" src="data:image/png;base64,{{ image.Data }}">
                            </div>
                        {% elseif key==1 %}
                            <div class="photo1 containerCal">
                            <div class="containerRow">
                            <img class="ph2" width="300px" height="200px" src="data:image/png;base64,{{ image.Data }}" >
                        {% elseif key==2 %}
                            <img class="ph3" width="300px" height="200px" src="data:image/png;base64,{{ image.Data }}">
                            </div>
                            <div class="containerRow">
                        {% elseif key==3%}
                            <img class="ph4" width="300px" height="200px" src="data:image/png;base64,{{ image.Data }}">
                        {% elseif key==4 %}
                            <div style="position: relative">
                                <img class="ph5" width="300px" height="200px" src="data:image/png;base64,{{ image.Data }}">
                                <button class="afficher" id="open-modal1"> afficher toutes les image </button>
                                <div class="modal" id="myModal1">
                                    <div class="modal-content2">
                                        <span class="close"><i class="fa-solid fa-xmark fa-xs"></i></span>




                                        <div class="centerImg">
                                            {% for key, image in images %}
                                                {% if key % 3 == 0 %}
                                                    <img class="containerCal-item2" width="60%" height="500px" src="../assets/{{ image.Data }}">
                                                    <div class="containerRowImg">
                                                        {% for i in 1..2 %}
                                                            {% set nextImageIndex = key + i %}
                                                            {% if nextImageIndex < images|length %}
                                                                <img width="39%" height="300px" src="../assets/{{ images[nextImageIndex].Data }}">
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                        </div>
                                        <!-- <div class="centerImg">
                                             <img class="containerCal-item2" width="60%" height="500px" src="../assets/villa.webp">
                                             <div class="containerRowImg">
                                                 <img  width="39%" height="300px" src="../assets/villa2.webp">
                                                 <img  width="39%" height="300px" src="../assets/villa3.webp">
                                             </div>
                                             <img  width="60%" height="500px" src="../assets/villa4.webp">
                                             <div class="containerRowImg">
                                                 <img  width="39%" height="300px" src="../assets/villa5.webp">
                                                 <img  width="39%" height="300px" src="../assets/villa6.webp">
                                             </div>
                                             <img  width="60%" height="500px" src="../assets/villa7.webp">
                                             <div class="containerRowImg">
                                                 <img  width="39%" height="300px" src="../assets/villa8.webp">
                                                 <img  width="39%" height="300px" src="../assets/villa9.webp">
                                             </div>
                                         </div>-->





                                    </div>

                                </div>
                            </div>
                            </div>
                            </div>




                        {% endif %}
                    {% endfor %}
                </div>
            </div>










            <div class="reservation">
                <div class="RightSide">
                    <div class="containerRow containerCal-item" style="align-content: space-between;">
                        <div  class="containerCal">
                            <h2 class="cursive" style="font-size: 20px;"> {{ TypeLog}} : {{ TypeEs}} .chez {{ PropName}} </h2>
                            <p class="texte" >{{ logement.nbrChambres}} chambres  {{ logement.nbrLits }} lits {{ logement.nbrSdb}} salle de bain
                                <!--nb1 voyageurs nb2 chambres nb3 lits nb4 salles de bain et nb5 toilette--> </p>
                        </div>




                        <div class="user">
                            <img width="45px" height="40px" src="{{ asset('assets/user.png') }}">
                        </div>
                    </div>
                    <div class="containerCal containerCal-item texte">
                        <div class="containerRow">
                            <img width="30px" src="{{  asset('assets/piscine.png') }}">
                            <div class="cursive">  particularite 1</div>
                        </div>
                        <div class="texte" >description de la particularite</div>
                    </div>
                    <div class="containerRow containerCal-item">
                        <img width="30px" src="{{ asset('assets/calendar.png')  }}">

                        <div class="cursive">Annulation gratuite pendant 48 heures.</div>
                    </div>




                    <div class="descrip containerCal-item">
                        <u class="texte" style="font-size: 20px;">description:</u>
                        <div class="texte-partiel">
                            <p class="descripTexte"> {{ logement.description|slice(0,3) }}
                            </p>
                            <button id="btn-en-savoir-plus" ><u>En savoir plus></u></button>
                            <div id="texte-complet" >
                                <p class="descripTexte">  {{ logement.description }}</p>
                            </div>
                        </div>
                    </div>


                    <!--<div class="equipement containerCal-item2">
                        <u>Ce que propose ce logement </u><br>
                        <div class="containerRow containerCal-item2">
                            <img width="30px" src="../assets/cuisine.png">
                            cuisine
                        </div>
                        <div class="containerRow containerCal-item2">
                            <img width="30px" src="../assets/wifi.png">
                            wifi
                        </div>
                        <div class="containerRow containerCal-item2">
                            <img width="30px" src="../assets/parking.png">
                            Parking gratuit sur place
                        </div>
                        <div class="containerRow containerCal-item2">
                            <img width="30px" src="../assets/climatisation.png">
                            Climatisation : système split sans évacuation
                        </div>
                        <div class="containerRow containerCal-item2">
                            <img width="30px" src="../assets/Lave-vaisselle.png">
                            Lave-vaisselle
                        </div>-->
                    <div class="cursive" style="font-size: 20px;"> Ce que propose le logement </div>
                    <div class="containerEq">

                        {% for equipement in equipments_first %}
                            <div class="containerEquip containerCal-item2"> <img width="30px"  src="{{ asset('assets/'~ equipement ~'.png')  }}"> <div style=" font-family:cursive; font-weight: lighter; padding-left: 10px" >{{ equipement }}</div></div>
                        {% endfor %}
                    </div>
                    <!-- le bouton qui affiche tous les aquipements -->
                    <button id="open-modal">afficher tous les quipements </button>

                    <div id="myModal" class="modal">
                        <div class="modal-content containerCal">

                            <!--<i  class="bi bi-x-circle close"></i>


                            <div>
                                <div class="containerRow containerCal-item2">
                                    <img width="30px" src="../assets/cuisine.png">
                                    cuisine
                                </div>
                                <div class="containerRow containerCal-item2">
                                    <img width="30px" src="../assets/wifi.png">
                                    wifi
                                </div>
                                <div class="containerRow containerCal-item2">
                                    <img width="30px" src="../assets/parking.png">
                                    Parking gratuit sur place
                                </div>
                                <div class="containerRow containerCal-item2">
                                    <img width="30px" src="../assets/climatisation.png">
                                    Climatisation : système split sans évacuation
                                </div>
                                <div class="containerRow containerCal-item2">
                                    <img width="30px" src="../assets/Lave-vaisselle.png">
                                    Lave-vaisselle
                                </div>
                            </div>-->
                            <div class="containerCal">
                                {% for equipement in equipements_present %}
                                    <div class="containerEquip containerCal-item2"> <img width="30px" src="{{ asset('assets/'~ equipement ~'.png')  }}"> <div style=" font-family:cursive; font-weight: lighter; padding-left: 10px" >{{ equipement }}</div></div>
                                {% endfor %}
                            </div>

                        </div>
                    </div>


                </div>



                <div class="LeftSide ">
                    <p>  <b>{{ prix }}</b> </p>
                    <div class="select">
                        <div  class="LaDate">
                            <div class="Arrivee">
                                <p class="texteR"><b>ARRIVEE </b></p>
                                <input class="system" style="border: none;padding-right: 0.8cm;"  type="date" id="date_arrivee">
                            </div>
                            <div class="Depart">
                                <p class="texteR"><b>DEPART</b></p>
                                <input class="system" style="border: none;padding-right: 0.8cm; margin-bottom: 0;" type="date" id="date_depart">
                            </div>
                        </div>

                        <div class="dropdown search-bar-item ">
                            <div class="texteCenter ">
                                <div >
                                    <a onclick="dropdownFunction('#myDropdown','show')" class="dropbtn containerCal-item3" style="font-size: 10px; "><b> VOYAGEURS </b></a>
                                    <div class="containerCal-item3 system">  <p style="margin:0 0 3px 7px;"> <a id="voyageur-value"> 0 </a> Voyageurs</p> </div>
                                </div>
                            </div>
                            <div id="myDropdown" class="dropdown-content">
                                <div class="dropdown-item adults-container" >
                                    <!--  <label class="adults-label" for="adults">Adultes</label> -->
                                    <div class="label adults-label">
                                        Adultes<br>
                                        13 ans et plus
                                    </div>
                                    <div class="adult-control">
                                        <button disabled="true" title="Decrement" class="decrement-btn adultes" onclick="decrement('#adult-value','.adultes')" type="submit"><i class="fa-solid fa-xs fa-minus"></i>
                                            <img width=30px src="{{ asset('assets/minus.svg') }}">
                                        </button>
                                        <a id="adult-value">0</a>

                                        <button title="Increment" class="increment-btn adultes" onclick="increment('#adult-value','.adultes')"><i class="fa-solid fa-plus fa-xs"></i>
                                            <img width=30px src="{{ asset('assets/plus.svg')  }}">
                                        </button>

                                    </div>
                                </div>

                                <div class="dropdown-item enfants-container" >
                                    <div class="label enfants-label">
                                        Enfants<br>
                                        De 2 à 12 ans
                                    </div>
                                    <div class="enfants-control">

                                        <button disabled="true" title="decrement" class="decrement-btn enfants" onclick="decrement('#enfant-value','.enfants')" type="submit"><i class="fa-solid fa-xs fa-minus"></i>
                                            <img width=30px src="{{ asset('assets/minus.svg')  }}">
                                        </button>
                                        <a id="enfant-value">0</a>
                                        <button title="increment" class="increment-btn enfants" onclick="increment('#enfant-value','.enfants')"><i class="fa-solid fa-xs fa-plus"></i>
                                            <img width=30px src="{{ asset('assets/plus.svg')  }}">
                                        </button>
                                    </div>
                                </div>

                                <div class="dropdown-item bebes-container" >
                                    <div class="label bebes-label">
                                        Bébés<br>
                                        - de 2 ans
                                    </div>
                                    <div class="bebes-control">
                                        <button disabled="true" title="decrement" class="decrement-btn bebes" onclick="decrement('#bebe-value','.bebes')" type="submit"><i class="fa-solid fa-xs fa-minus"></i>
                                            <img width=30px src="{{ asset('assets/minus.svg')  }}">
                                        </button>
                                        <a id="bebe-value">0</a>
                                        <button title="increment" class="increment-btn bebes" onclick="increment('#bebe-value','.bebes')"><i class="fa-solid fa-xs fa-plus"></i>
                                            <img width=30px src="{{  asset('assets/plus.svg')}}">
                                        </button>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    {% if (app.user) %}
                        <div>
                            <button id="mon_bouton" style="width: 80%; margin-left: 1cm; margin-top: 0.5cm;" type="button" class="btn btn-danger"  onclick="window.location.href = window.location.origin + '/reservation/'+'{{ app.user.id }}'">
                                Réserver
                            </button>
                        </div>
                    {% else %}
                        <div>
                            <button id="mon_bouton" style="width: 80%; margin-left: 1cm; margin-top: 0.5cm;" type="button" class="btn btn-danger"  onclick="window.location.href = '{{ path('app_login') }}'">
                                Réserver
                            </button>
                        </div>
                    {% endif %}

                    <div class="texte">
                        <p class="texteRR" style="margin-bottom: 0;"> Aucun montant ne vous sera</p>
                        <p class="texteRR" style="margin-top: 0;"> debité pour le moment </p>
                    </div>
                    <div class="prix">
                        <div class="nbJour">
                            <div style="justify-content: space-between;" class="containerRow texteRR" >
                                <p> PRIX x NBjour</p>
                                <p> Total prix</p>
                            </div>

                            <div style="justify-content: space-between;" class="containerRow texteRR" >
                                <p> Frais de service <br> YMARA (10%)</p>
                                <p> frais service </p>
                            </div>

                        </div>
                        <div style="justify-content: space-between;" class="prixTOT texteRR">
                            <p><b>TOTOAL</b></p>
                            <p><b>prix total</b></p>
                        </div>




                    </div>


                </div>



            </div>
            <div>
                <!-- <div class="containerRow">-->
                <div class="containerC">
                    {% for comment in commentsWithAuthor %}
                        <div class="containerComm">
                            <div class="containerRow">
                                <img width="45px" height="40px" src="{{ asset('assets/user.png')  }}">
                                <div class="containerUser">
                                    <div style="font-family: cursive">  {{ comment.author_name }} </div>
                                    <p class="system"> date</p>
                                </div>
                            </div>
                            <div> {{ comment.text }}</div>
                        </div>
                    {% endfor %}
                </div>

                <!-- <div class="form-floating">
                     <textarea class="form-control  " placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                     <label for="floatingTextarea2">Comments</label>
                     <div class="form-text"> le commentaire ne doit pas contenir  de diffamation, d’injure, d’insulte ou de calomnie </div>
                     <button  style="margin-top: 1cm" type="button" class="btn btn-outline-secondary">entrer </button>
                 </div>-->

            </div>
        </div>

    </div>

{% endblock %}
    {% block javascripts %}
        <script>
            {#
            var reservations = {{ reservations|json_encode()|raw }};
            var button = document.getElementById('mon_bouton');
            var dateArrivee = document.getElementById('date_arrivee');
            var dateDepart = document.getElementById('date_depart');

            /*button.addEventListener('click', function () {
                redirectToReservationController();
            }); */

            dateArrivee.addEventListener('change', function () {
                checkReservationDates();
            });

                  dateDepart.addEventListener('change', function () {
                checkReservationDates();
            });

            function checkReservationDates() {
                var arrivee = new Date(dateArrivee.value);
                var depart = new Date(dateDepart.value);

                for (var i = 0; i < reservations.length; i++) {
                    var dateDebut = new Date(reservations[i].DateDebut);
                    var dateFin = new Date(reservations[i].DateFin);

                    if (arrivee > dateDebut && depart < dateFin) {
                        button.disabled = true;
                        return;
                    }
                }

                button.disabled = false;
            } #}




        </script>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
        <script src="{{asset('script/reservation.js')}}" defer> </script>
    {% endblock %}
