{% block stylesheets %}


{% endblock %}


{% block body %}
<div id="myModal2" class="modal fade"  role="dialog">
    <div class="modal-dialog" id="inscri-dialog" >
        <div class="modal-content" id="inscri-content">
            <div class="header">
                <span class="close"><i class="fa-solid fa-xmark fa-xs" data-dismiss="modal"></i></span>
                <h4 class="modal-title">Inscription</h4>
            </div>

            <div class="modal-body" id="filtres-body">
                <div class="row">
                    <div class="mx-auto col-10 col-md-8 col-lg-6" id="formulaire">
                        <img class="logo-form" src="{{ asset('assets/logo-ymara.png') }}" alt="">
                        <h4>Bienvenu à <span style="color:#e61e4d">YMARA</span></h4>



                        <form action="" method="post" class="form-floating needs-validation" novalidate>


                            <div class="form-row">
                                <div class="form-floating col-lg-12">
                                    <input type="text" id="nom1" name="nom" class="form-control my-2 " placeholder="Nom"
                                           required/>
                                    <label for="nom1">Nom</label>
                                    <div class="invalid-feedback">
                                        vérifier votre nom
                                    </div>
                                    <div class="valid-feedback">
                                        bien!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-floating col-lg-12 ">
                                    <input type="text" id="prenom1" name="prenom" class="form-control my-2 "
                                           placeholder="Prénom" required/>
                                    <label for="prenom1">Prénom</label>
                                    <div class="invalid-feedback">
                                        vérifier votre prénom
                                    </div>
                                    <div class="valid-feedback">
                                        bien!
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-floating col-lg-12">
                                    <input type="email" id="email1" name="email" class="form-control my-2 "
                                           placeholder="Adresse Mail" required/>
                                    <label for="email1">Adresse Mail</label>
                                    <div class="invalid-feedback">
                                        vérifier votre adresse mail
                                    </div>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="form-floating col-lg-12">
                                    <input type="password" id="password1" name="password" class="form-control my-2 "
                                           placeholder="Mot de passe" required/>
                                    <label for="password1">Mot de passe</label>
                                    <div class="invalid-feedback">
                                        vérifier votre mot de passe
                                    </div>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>

                                </div>
                            </div>


                            <div class="form-row">
                                <div class="form-floating  col-lg-12">

                                    <select class="form-select my-2" id="countries" name="country"
                                            aria-label="floating label" required></select>
                                    <label for="country">Pays</label>
                                </div>
                                <div class="invalid-feedback">
                                    vérifier votre adresse mail
                                </div>
                                <div class="valid-feedback">
                                    bien!
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-floating col-lg-12 ">
                                    <input type="tel1" id="tel1" name="telephone" class="form-control  my-2"
                                           placeholder="numero de téléphone" required>
                                    <label for="tel">téléphone</label>
                                    <div class="valid-feedback">bien!</div>
                                    <div class="invalid-feedback">vérifier votre numero de téléphone</div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-floating col-lg-12">
                                    <input type="text" id="ddn1" name="ddn" class="form-control  my-2 "
                                           placeholder="Date de naissance"
                                           onfocus='this.type="date"' onblur='this.type="text"' required>
                                    <label for="ddn1">Date de naissance</label>
                                    <div class="invalid-feedback">
                                        Vous devez etre +18
                                    </div>
                                    <div class="valid-feedback">
                                        bien!
                                    </div>
                                </div>

                            </div>
                            <div class="form-row">
                                <div class="form-group col-lg-12">
                                    <button type="submit" class="btn2 mt-2 mb-5">S'inscrire</button>

                                </div>
                            </div>
                        </form>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

                        {% endblock %}


                        <!-- {% block javascripts %}
<script src="{{ asset('node_modules/@popperjs/core/dist/umd/popper.js') }}"></script>
<script src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>

    <script src="{{ asset('script/pays.js') }}"></script>
    <script src="{{ asset('script/inscri.js') }}"></script>
{% endblock %} -->







