

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

   {% block stylesheets %}
       <link href='https://unpkg.com/css.gg@2.0.0/icons/css/heart.css' rel='stylesheet'>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-qmHUA9XPRstx8+HPZGnq68tTzTt/QLTtBEsR+1l2sNv9XWtmvlNUsk0nvbcZLqnFjrIwy2QUp1rJr1tp04/Kkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
       <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
       <link rel="stylesheet" href={{ "style/card.css" }}>
       <link rel="stylesheet" href={{"style/carousel.css"  }}>
       <link rel="stylesheet" href="style/search-bar.css">
       <link rel="stylesheet" href="style/navbar.css">
       <link rel="stylesheet" href="style/dropdown-menu.css">

       <link rel="icon" type="image/x-icon" href={{" assets/icone.ico" }}>
       <link rel="stylesheet" href="path/to/bootstrap-icons.css">
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0pq" crossorigin="anonymous">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
       <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
       <link rel="stylesheet" href={{ "style/subnav.css" }}>
       <link rel="stylesheet" href={{"style/subnav-carousel.css"  }}>
    {% endblock %}




</head>
<body>
{%  include 'subnav_carousel.html.twig' %}

<div class="grand_conteneur">
    <div class="conteneur-annonce">
        <div class="images-maison">
            {% include 'carousel.html.twig' with {'numAnnonce': 1} %}

            <div class="coeur">
                <i class="bi bi-heart-fill"   ></i>
            </div>
        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>

    </div>
    <div class="conteneur-annonce">
        <div class="images-maison">

            {% include 'carousel.html.twig' with {'numAnnonce': 2} %}
            <div class="coeur">
                <i class="bi bi-heart-fill"  ></i>
            </div>
        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>

    </div>
    <div class="conteneur-annonce">
        <div class="images-maison">
            {% include 'carousel.html.twig' with {'numAnnonce': 3} %}
            <div class="coeur">
                <i class="bi bi-heart-fill"  ></i>
            </div>
        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>
    </div>
    <div class="conteneur-annonce">
        <div class="images-maison">
            {% include 'carousel.html.twig' with {'numAnnonce': 4} %}
            <div class="coeur">
                <i class="bi bi-heart-fill"  ></i>
            </div>
        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>
    </div>
</div>

<div class="grand_conteneur">
    <div class="conteneur-annonce">
        <div class="images-maison">

            {%  include 'carousel.html.twig' with {'numAnnonce':5} %}
            <div class="coeur">
                <i class="bi bi-heart-fill"  ></i>
            </div>
        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>

    </div>
    <div class="conteneur-annonce">
        <div class="images-maison">

            {%  include 'carousel.html.twig' with {'numAnnonce':6} %}
            <div class="coeur">
                <i class="bi bi-heart-fill"  ></i>
            </div>
        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>

    </div>
    <div class="conteneur-annonce">
        <div class="images-maison">
            {%  include 'carousel.html.twig' with {'numAnnonce':7} %}
            <div class="coeur">
                <i class="bi bi-heart-fill"  ></i>
            </div>
        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>
    </div>
    <div class="conteneur-annonce">
        <div class="images-maison">
            {%  include 'carousel.html.twig' with {'numAnnonce':8} %}
            <div class="coeur">
                <i class="bi bi-heart-fill"  ></i>
            </div>
        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>
    </div>
</div>
<div class="grand_conteneur">
    <div class="conteneur-annonce">
        <div class="images-maison">
            {%  include 'carousel.html.twig' with {'numAnnonce':9} %}
            <div class="coeur">
                <i class="bi bi-heart-fill"   ></i>
            </div>
        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>

    </div>
    <div class="conteneur-annonce">
        <div class="images-maison">

            {%  include 'carousel.html.twig' with {'numAnnonce':10} %}
            <div class="coeur">
                <i class="bi bi-heart-fill"  ></i>
            </div>
        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>

    </div>
    <div class="conteneur-annonce">
        <div class="images-maison">
            {%  include 'carousel.html.twig' with {'numAnnonce':11} %}
            <div class="coeur">
                <i class="bi bi-heart-fill"  ></i>
            </div>
        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>
    </div>
    <div class="conteneur-annonce">
        <div class="images-maison">
          {%  include 'carousel.html.twig' with {'numAnnonce':12} %}
            <div class="coeur">
            <i class="bi bi-heart-fill"  ></i>
            </div>
        </div>
    </div>
    <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
    <div class="titre">Professionnel</div>
    <div class="date">1-6 Mai</div>
    <div class="prix">228$ <span class="nuité">par nuit</span></div>
</div>
</div>

<div class="grand_conteneur">
    <div class="conteneur-annonce">
        <div class="images-maison">
            {%  include 'carousel.html.twig' with {'numAnnonce':13} %}
            <div class="coeur">
                <i class="bi bi-heart-fill"  ></i>
            </div>
        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>

    </div>
    <div class="conteneur-annonce">
        <div class="images-maison">

            {%  include 'carousel.html.twig' with {'numAnnonce':14} %}
            <div class="coeur">
                <i class="bi bi-heart-fill"  ></i>
            </div>
        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>

    </div>
    <div class="conteneur-annonce">
        <div class="images-maison">
            {%  include 'carousel.html.twig' with {'numAnnonce':15} %}
            <div class="coeur">
                <i class="bi bi-heart-fill"  ></i>
            </div>
        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>
    </div>
    <div class="conteneur-annonce">
        <div class="images-maison">
            {%  include 'carousel.html.twig' with {'numAnnonce':16} %}
            <div class="coeur">
                <i class="bi bi-heart-fill"  ></i>
            </div>
        </div>
        <div class="pays"> <div>Raguse,Italie </div> <div><i class="bi bi-star-fill"></i>  <span class="note">5,0</span></div> </div>
        <div class="titre">Professionnel</div>
        <div class="date">1-6 Mai</div>
        <div class="prix">228$ <span class="nuité">par nuit</span></div>
    </div>
</div>

</body>
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <scrispt src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></scrispt>
    <script src="https://kit.fontawesome.com/81363d573b.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHlTUEI7" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0pq" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="{{ asset('script/dropdown-menu.js') }}"></script>
    <script src="{{ asset('script/dropdown-buttons.js') }}"></script>
    <script src="{{ asset('script/search-bar.js') }}"></script>
    <script src="{{ asset('script/subnav.js') }}"></script>

    <script src="{{ asset('script/coeur.js') }}"></script>
    <script src="{{ asset('script/dropdown-menu.js') }}"></script>
    <script src="{{ asset('script/dropdown-buttons.js') }}"></script>
    <script src="{{ asset('script/search-bar.js') }}"></script>
    <script src="{{ asset('script/navCarousel.js') }}"></script>

    <script src="https://kit.fontawesome.com/20d1a76219.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock %}

</html>
</html>